/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Font Link end */
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
/* Header section styling */
header{
    background: rgba(255, 144, 14, 0.10);
    padding-top: 50px;
}
.headerContant{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
/* ------Navbar Style-------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 70px;
    align-items: center;
    list-style: none;
}
nav h2{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav a{
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}
/* ------Navbar Style-------- */
/* Header Contat style */
.headerContant h1{
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
    line-height: normal;
    margin: 6rem auto 0px;
    width: 53rem;
}
.headerContant p{
    line-height: 1.6rem;
    color: #131313;
    width: 53rem;
    margin: 2px auto 30px;
}
.headerContant button, .featuresContant button{
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 50px;
}
.headerContant img{
    width: 100%;
    padding-bottom: 2.81rem;
}
/* Header Contant style */
/* Header section styling */

/* Main section style start from here */
/* Our Features style */

main{
    width: 80%;
    margin: 3em auto;
}
.features{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.featuresImg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.featuresImg img{
    width: 100%;
}
.features h2{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: normal;
    color: #131313;
    width: 70%;
}
.features .featuresColorGray{
    color: #727272;
    font-weight: 500;
}
.features .featuresColorOrange{
    color: #FF900E;
    font-weight: 500;
}
.features p{
    color: #727272;
    margin: 24px 0px;
    width: 78%;
    line-height: 26px;
}
/* ------------Second Section.. I name this saction Facility Section start from here--------------------
 */
 .Facility{
    display: flex;
    gap: 7%;
    margin: 80px auto;
 }
 .facilityContant{
    width: 50%;
 }
 .FacilityTitle h2{
    color: #131313;
    font-size: 2.8rem;
    width: 700;
    line-height: normal;
    padding-left: 20px;
    border-left: 5px solid #FF900E;    
 }
 .FacilityTitle p{
    color: #727272;
    line-height: 26px;
    padding: 24px 0px;
 }
 .facilityBox{
    padding: 30px 35px 0px;
    width: 80%;
    margin: 30px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
 }
 .facilityBox h3{
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #131313;
 }
 .facilityBox p{
    color: #727272;
    line-height: 26px;
    padding: 10px 0px 30px;
 }
.facilityImg img{
    width: 100%;
}
.experienceBatch{
    padding: 25px 42px;
    background: #FF900E;
    width: 200px;
    border-radius: 8px;
    position: relative;
    top: -95px;
    left: -80px;
}
.experienceBatch h2{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}
.experienceBatch p{
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
/* Some Facts section */
.facts> h2{
    font-size: 2.8rem;
    color: #131313;
    line-height: normal;
    font-weight: 700;
}
.facts>p{
    color: #727272;
    line-height: 26px;
    width: 50%;
    margin-top: 20px;
}
.ourAchivment{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}
.card{
    border: 1px solid #FF900E;
    padding: 45px 36px;
    border-radius: 8px;
}
.card h2{
    font-size: 2.8rem;
    font: 600;
    color: #424242;
}
/* Footer Section start */
footer{
    text-align: center;
    width: 80%;
    margin: auto;
}
footer h2{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}
footer >p{
    color: #727272;
    line-height: 26px;
    width: 540px;
    margin: 20px auto;
}
.sponsors{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
}
.copyright{
    background: #FFF4E7;
    border-radius: 8px;
    padding: 40px 0px;
    margin: 100px 0px;
    color: #424242;
    font-size: 20px;
    line-height: normal;
}
/* Responsive for Mobile */
@media screen and (max-width: 687px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .headerContant{
        width: 100%;
    }
    .headerContant h1{
        width: 100%;
        font-size: 3rem;
        margin-top: 30px;
    }
    .headerContant p{
        width: 90%;
        padding: 20px;
    }
    /* Main features section */
    .features{
        flex-direction: column-reverse;
    }
    .featuresContant{
        text-align: center;
    }
    .features h2, .features p{
        width: 100%;
    }
    .Facility{
        flex-direction: column;
    }
    .facilityContant{
        width: 100%;
    }
    .FacilityTitle h2{
        font-size: 2rem;
    }
    .facilityBox{
        margin: 0px;
    }
    .experienceBatch{
        width: 150px;
        left: -30px;
        top: -70px;
        padding: 22px 28px;
    }
    .experienceBatch h2{
        font-size: 2.3rem;
    }
    .experienceBatch p{
        font-size: 18px;
    }
    .facts> h2{
        text-align: center;
    }
    .facts>p{
        width: 100%;
        text-align: center;
    }
    .ourAchivment{
        flex-direction: column;
        gap: 30px;
    }
    /* Footer */
    footer p{
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        margin-top: 10px;
    }
    .sponsors{
        flex-direction: column;
        gap: 50px;
    }
    .sponsors img{
        width: 40%;
    }
}
/* Responsive for Mobile */

/* Responsive for Tab */
@media screen and (min-width: 688px) and (max-width: 992px) {
    .headerContant{
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
    }
    nav{
        justify-content: space-around;
    }
    nav h2{
        font-size: 2.4rem;
    }
    .headerContant h1{
        width: 80%;
        font-size: 3rem;
        margin-top: 50px;
    }
    .headerContant p{
        width: 80%;
        padding: 20px;
    }
    .featuresContant{
        width: 100%;
    }
    .featuresContant h2{
        font-size: 2.4rem;
        width: 100%;
    }
    .featuresContant p{
        width: 100%;
    }
    .Facility{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .facilityContant{
        width: 100%;
    }
    .FacilityTitle h2{
        font-size: 2rem;
    }
    .facilityBox{
        margin: 0px;
    }

    .facilityImg{
        width: 70%;
        margin: auto;
    }
    .experienceBatch{
        width: 150px;
        left: -30px;
        top: -70px;
        padding: 22px 28px;
    }
    .experienceBatch h2{
        font-size: 2.3rem;
    }
    .experienceBatch p{
        font-size: 18px;
    }
    .facts> h2{
        text-align: center;
    }
    .facts>p{
        width: 100%;
        text-align: center;
    }
    .ourAchivment{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 30px;
    }
    .sponsors img{
        width: 15%;
    }
}
/* Responsive for Tab */
